* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ffd21f;
  --secondary-color: #adc178;
  --secondary-lighter: #dde5b6;
  --light-color: #f1ebe0;
  --dark-color: #a98467;
  --whites: #fff2f2;
  --white: white;
  --blacks: #1a1918;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title {
  background-color: var(--primary-color);
  color: var(--blacks);
  padding: 5vh;
  text-align: center;
  font-size: 1.7rem;
  box-shadow: 0px 1px 15px 2px rgba(0, 0, 255, 0.15);
}

main {
  height: 100%;
  background-color: var(--white);
}

.bookmark-img {
  position: relative;
  top: -35px;
  right: -450px;
  height: 50px;
  width: 50px;
}

.question-cards {
  padding: 10%;
  padding-bottom: 20%;
}

.question-card-1,
.question-card-2,
.question-card-3,
.question-card-4,
.question-card-5,
.question-card-6,
.question-card-7,
.question-card-8,
.question-card-9,
.question-card-10 {
  border: solid var(--blacks) 0.5px;
  background-color: var(--l#);
  margin: 5%;
  padding: 30px;
  box-shadow: 0px 3px 9px 1px var(--primary-color);
  /* border: solid var(--blacks); */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.answer-button {
  text-align: center;
  padding: 10px;
  border: none;
  background-color: var(--blacks);
  color: var(--white);
  border-radius: 5px;
  margin: auto;
  margin-top: 1.5em;
  font-size: medium;
}

.footer {
  position: fixed;
  bottom: 0;
}

.nav-bar {
  background-color: var(--primary-color);
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

.nav-bar img {
  height: 50px;
}
