* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ffd21f;
  --secondary-color: #fefbe2;
  --primary-shadow: #cac59b;
  --white: white;
  --blacks: #1a1918;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: var(--secondary-color);
}
header {
  /* position: sticky; */
  top: 0px;
  z-index: 1;
  box-shadow: 0px 0px 30px 1px var(--primary-shadow);
}

.title {
  min-height: 50px;
  position: sticky;
  background-color: var(--primary-color);
  color: var(--blacks);
  padding: 5vh;
  text-align: center;
  font-size: larger;
}

main {
  height: 100%;
}

ul {
  font-size: small;
  font-weight: lighter;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin-top: 30px;
  gap: 10px;
}

li {
  border: solid var(--primary-color) 0.5px;
  border-radius: 4px;
  padding: 2px;
}

.profile-cards {
  border: solid var(--blacks) 0.5px;
  background-color: var(--white);
  padding: 30px;
  margin: 30px;
  box-shadow: 0px 2px 10px 1px var(--primary-shadow);
  border-radius: 20px;
}

.profile-card-1 {
  display: flex;
  justify-content: space-around;
}

.profile-card-2 {
  display: flex;
  justify-content: space-around;
}

.profile-card-2 section {
  display: flex;
  align-items: center;
}

.profile-card-2 section p {
  margin-left: 15px;
}

.profile-card-2 img {
  height: 30px;
}

.profile-card-1 img {
  height: 9em;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 1px var(--primary-shadow);
}

.profile-cards h2 {
  align-self: center;
  margin-left: 10px;
}

.profile-cards h3 {
  margin-top: 30px;
}

.question-cards img {
  position: absolute;
  top: -10px;
  right: 28px;
  height: 50px;
  width: 50px;
}

.question-cards {
  padding: 20% 10%;
}

.question-cards h3 {
  padding-top: 20px;
}

.question-cards h4 {
  color: white;
}

.question-card-1,
.question-card-2,
.question-card-3,
.question-card-4,
.question-card-5,
.question-card-6,
.question-card-7,
.question-card-8,
.question-card-9,
.question-card-10 {
  border: solid var(--blacks) 0.5px;
  background-color: var(--white);
  margin-bottom: 25%;
  padding: 30px;
  box-shadow: 0px 2px 10px 1px var(--primary-shadow);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.answer-button {
  text-align: center;
  padding: 10px;
  border: none;
  background-color: var(--blacks);
  color: var(--white);
  border-radius: 5px;
  margin: auto;
  /* margin-top: 1.5em; */
  font-size: medium;
}

.footer {
  position: fixed;
  bottom: 0;
  box-shadow: 0px 2px 10px 1px var(--primary-shadow);
}

.nav-bar {
  background-color: var(--primary-color);
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

.nav-bar img {
  height: 30px;
}
