* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ffd21f;
  --secondary-color: #adc178;
  --secondary-lighter: #dde5b6;
  --light-color: #dfd1cd;
  --dark-color: #a98467;
  --whites: #fff2f2;
  --blacks: #1a1918;
}

.header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--primary-color);
  color: var(--blacks);
  padding: 5vh;
  text-align: center;
  font-size: 1.7rem;
  box-shadow: 0px 1px 15px 2px rgba(0, 0, 255, 0.15);
}
